.main-button {
    display: flex;
    flex-direction: row;
        .home-button {
            width: 180px;
            height: 45px;
            border: 2px solid;
            margin-left: 15px;
            border-radius: 25px;
            font-family: $main-title;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 2px;
            padding: 10px;
            &#started {
                background-color: $nav-color;
                border: 1px solid $nav-color;
                color: $secundary-color;
                transition: .3s all;
                &:hover {
                    background-color: $background;
                    border: 2px solid $secundary-color;
                    
                }
            }
        }
}

 
.about-description {
    display: flex;
    flex-direction: row;
    button {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-left: 25px;
    position: relative;
    margin: 20px 15px;
    border: 2px solid $nav-color;
       i {
        font-size: 30px;
        position: absolute;
        top: 18px;
        right: 18px;
        color: $nav-color;
       }
    } 
}

.about-button:hover {  
    button{
    background-color: $nav-color;
    border: 2px solid $nav-color;
    transition: .5s all;
    i{
        color: white;
        transition: .5s all;
    }
}
}