.main-button {
    display: flex;
    flex-direction: row;
        .home-button {
            width: 180px;
            height: 45px;
            border: 2px solid;
            margin-left: 15px;
            border-radius: 25px;
            font-family: $main-title;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 2px;
            padding: 10px;
            &#started {
                background-color: $nav-color;
                border: 1px solid $nav-color;
                color: $secundary-color;
                transition: .3s all;
                &:hover {
                    background-color: $background;
                    border: 2px solid $secundary-color;
                    
                }
            }
        }
}

 
.about-description {
    display: flex;
    flex-direction: row;
    margin: 0px;
    button {
    background-color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-left: 25px;
    position: relative;
    margin: 20px 15px;
    border: 2px solid $nav-color;
       i {
        font-size: 26px;
        position: absolute;
        top: 18px;
        right: 18px;
        color: $nav-color;
       }
    } 
}

.about-button:hover {  
    button{
    background-color: $nav-color;
    border: 2px solid $nav-color;
    transition: .5s all;
    i{
        color: white;
        transition: .5s all;
    }
}
}

.button-portfolio {
    text-align: center;
    margin: 30px auto 50px;
    button {
    width: 70px;
    height: 38px;
    border-radius: 30px;
    border: 1px solid $nav-color;
    margin: 8px;
    font-family: $main-text;
    color: white;
    background-color:$nav-color;
        &:nth-child(+2){
            background-color:$secundary-color; 
            border: 1px solid $secundary-color;
            color: $nav-color;
            &:hover {
                color: white;
                background-color:$nav-color;
            }
    }
        &:nth-child(+3){
            background-color:$secundary-color; 
            border: 1px solid $secundary-color;
            color: $nav-color;
            transition: .8s all;
            &:hover {
                color: white;
                background-color:$nav-color;
            }
    }
        &:nth-child(+4){
            background-color:$secundary-color; 
            border: 1px solid $secundary-color;
            color: $nav-color; 
            &:hover {
                color: white;
                background-color:$nav-color;
            }
        }
    }
}

.button-testimonial {
    text-align: center;
    button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    margin: 4px;
    background-color: $nav-color;
    cursor: pointer;
        &:nth-child(+2){
            background-color: #ddd;
            &:hover .sara {
                background-color: $nav-color;
            }
        }        
    }
}

.btn-message {
    width: 190px;
    height: 45px;
    padding: 5px;
    border-radius: 30px;
    background-color: $nav-color;
    border: 1px solid $nav-color;
    color: white;
    font-family: $main-title;
    font-size: 16px;
    margin-bottom: 50px;
    &:hover {
        background-color: #046bda;
        border: 1px solid #046bda;
    }
}

.newsletter-footer {
    position: relative;
    .input-footer {
        border: none;
        height: 32px;
        width: 200px;
        position: absolute;
        top: 235px;
        left: 0px;
    }
    .btn-footer {
        width: 100px;
        height: 34px;
        border: 1px solid $nav-color;
        background-color: $nav-color;
        color: white;
        font-size: 15px;
        position: absolute;
        top: 235px;
        left: 200px;
    }
}


.social-media{      
    display: flex;
    flex-direction: row;   
    justify-content: stretch;   
    margin: 0px;
    button {
        width: 35px;
        height: 35px;   
        margin-left: 8px;     
        border-radius: 50%; 
        font-size: 130px;
        border: 1px solid $nav-color;
        background-color: $nav-color;
        position: relative;
        bottom: -30px;
        left: -10px;   
        &:hover {
            background-color: #046bda;
            border: 1px solid #046bda;
        }          
         i {
             font-size: 18px;
             color: white;
             position: relative;
             bottom: 97px;
             right: 0px;
         }                   
    }
}

.btn-to-back {
    position: fixed;
    background: $nav-color;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    border: 1px solid $nav-color;
    z-index: 15;


    i {
        color: white;
        font-size: 30px;
    }
    a{
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        display: inline;
    }
}