/*@mixin section-container ($background){
    position: relative;
    margin: 0px auto;
    display: flex;
    background-color: $background;
}
    
.section-cotainer {
    @include section-container($background)
 @mixin sub-titles-sections ($secundary-color) {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: $color-sub-title;
    width: 40%;
    font-family:$main-text;
    line-height: 25px;
}

}*/

