$main-text: 'Open Sans', sans-serif;
$main-title:'Montserrat', sans-serif;
$main-size: 36px;
$second-size: 18px;
$paragraph-size: 16px;
$background: #1445b3;
$secundary-color: #ecf5ff;
$secundary-background: #00428a;
$terciary-background: #004a99;
$nav-color: #007bff;
$letter-title-color: #283D50;
$letter-subtitle-color: #556877;
$main-color:#004a99;
