$main-text: 'Open Sans', sans-serif;
$main-title:'Montserrat', sans-serif;
$main-size: 36px;
$second-size: 18px;
$paragraph-size: 16px;
$main-color: #004a99;
$secundary-color: #ecf5ff;
$terciary-color: #00428A;
$nav-color: #007bff;
$color: #004289;

