.section-title .title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 60px auto 0px;
  padding: 60px 10px 0px; }
.section-title:nth-child(+2) {
  color: red; }
.section-title .subtitle {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 70px;
  color: #556877;
  width: 40%;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  letter-spacing: 0.8px; }

.home-button {
  background-color: #1445B3;
  border: 2px solid #1445B3;
  transition: .3s all;
  color: #ECF5FF; }
  .home-button#services {
    background-color: #1445b3;
    border: 2px solid #ecf5ff;
    color: #ecf5ff;
    transition: .3s all; }
    .home-button#services:hover {
      background-color: #007bff;
      border: 2px solid #007bff;
      color: #ecf5ff;
      transition: .3s all; }

.card-services {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 15px 0px 15px; }
  .card-services h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px; }
  .card-services h4:hover {
    color: #007bff; }
  .card-services i:nth-child(1) {
    color: purple; }
  .card-services i:nth-child(2) {
    color: yellow; }

.main-button {
  display: flex;
  flex-direction: row; }
  .main-button .home-button {
    width: 180px;
    height: 45px;
    border: 2px solid;
    margin-left: 15px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px; }
    .main-button .home-button#started {
      background-color: #007bff;
      border: 1px solid #007bff;
      color: #ecf5ff;
      transition: .3s all; }
      .main-button .home-button#started:hover {
        background-color: #1445b3;
        border: 2px solid #ecf5ff; }

.about-description {
  display: flex;
  flex-direction: row; }
  .about-description button {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-left: 25px;
    position: relative;
    margin: 20px 15px;
    border: 2px solid #007bff; }
    .about-description button i {
      font-size: 30px;
      position: absolute;
      top: 18px;
      right: 18px;
      color: #007bff; }

.about-button:hover button {
  background-color: #007bff;
  border: 2px solid #007bff;
  transition: .5s all; }
  .about-button:hover button i {
    color: white;
    transition: .5s all; }

html,
body {
  margin: 0px auto; }

.home-container {
  position: relative;
  top: 80px;
  margin: 0px auto;
  padding: 150px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1445b3;
  height: 400px; }
  .home-container .img-home {
    width: 630px; }

.home-section {
  display: flex;
  flex-direction: column; }

.main-title {
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
  font-size: 35px;
  line-height: 65px;
  font-weight: bolder; }
  .main-title #solution {
    color: #74b5fc;
    text-decoration: underline; }

.about-container {
  margin: 0px auto;
  position: relative;
  top: 400;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px; }
  .about-container .sub-container {
    padding: 70px 100px;
    display: flex;
    flex-direction: row; }
    .about-container .sub-container .about-text {
      font-size: 15px; }
    .about-container .sub-container .img-home {
      width: 550px;
      margin: 0px 15px;
      padding-top: 10px; }

.services-container {
  background-color: #ecf5ff;
  margin: 0px auto; }
  .services-container .section-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 30px; }
    .services-container .section-wrap .card-services {
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 390px;
      height: 140px;
      padding: 30px 30px 30px 60px;
      margin: 30px;
      box-shadow: 5px 5px 5px #dfdfdf;
      position: relative;
      overflow: hidden;
      border-radius: 10px; }
      .services-container .section-wrap .card-services i {
        position: absolute;
        top: 80px;
        left: -20px;
        font-size: 55px; }

.why-container {
  background-color: #004a99;
  margin: 0px auto;
  padding: 0px 80px;
  height: 700px; }
  .why-container .card-servieces-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto; }
    .why-container .card-servieces-second .card-choose {
      margin: 0px auto;
      width: 300px;
      height: 280px;
      padding: 20px;
      background-color: #00428A;
      color: white;
      border: 1px solid #00428A;
      border-radius: 7px;
      text-align: center;
      color: white;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder; }
      .why-container .card-servieces-second .card-choose .why-text {
        color: #d8eafe;
        font-size: 16px;
        font-weight: 200;
        line-height: 22px; }
      .why-container .card-servieces-second .card-choose a {
        text-decoration: none;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        letter-spacing: .8px; }
      .why-container .card-servieces-second .card-choose i {
        font-size: 50px;
        padding-bottom: 20px;
        color: #d8eafe;
        padding-top: 10px; }
        .why-container .card-servieces-second .card-choose i .why-text {
          color: #d8eafe;
          font-size: 40px; }

.portfolio-container {
  margin: 0px auto; }
  .portfolio-container .wrap-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
    height: 280px; }
    .portfolio-container .wrap-portfolio .img-portfolio {
      width: 450px;
      height: 280px; }

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px #bbb8b8;
  background-color: white;
  margin: 0px auto;
  width: 100%;
  position: fixed;
  top: 0px;
  right: -3px;
  z-index: 30;
  padding: 20px; }

.logo-ada .img-ada {
  width: 100px;
  padding-left: 90px;
  padding-top: 5px;
  padding-right: 105px; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  color: #00428A;
  padding-right: 105px; }
  ul .nav-link {
    padding-left: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer; }
    ul .nav-link:hover {
      color: #007bff; }
      ul .nav-link:hover .subcotainer-nav {
        display: none; }

/*





.container-nav {
    .subcontainer-nav {
        width: 120px;
        height: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0px;

        box-shadow: 0px 0px 20px 0px rgb(187, 184, 184); 
    }
}



.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   box-shadow: 0px 0px 30px rgba(127, 137, 16, 0.3);
   position: fixed;
   top: 0px;
   right: -20px;
   background-color: white;
   margin: 0px auto;
   padding: 15px 90px;
}

.logo-ada {
    .img-ada {
        width: 80px;
        margin: 5px 0px;
        padding-left: 110px;
    }
}

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none; 
    color: $terciary-color;
    .nav-link {
        padding-left: 35px; 
        font-family: $main-text;
        font-weight: 400;
        font-size: 16px;
        position: relative;
        cursor: pointer;
            &:hover {
            color: $nav-color;    
                  
        }
    }
}
*/

/*# sourceMappingURL=main.css.map */
