.section-title .title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin: 0px auto;
  padding: 25px 10px 0px;
  color: #283D50; }
  @media (max-width: 990px) {
    .section-title .title {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 25px 6px 0px;
      font-size: 32px; } }
  @media (max-width: 500px) {
    .section-title .title {
      display: flex;
      flex-grow: 1;
      padding: 0px;
      font-size: 32px; } }
.section-title .subtitle {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: #556877;
  width: 600px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  letter-spacing: 0.8px; }
  @media (max-width: 990px) {
    .section-title .subtitle {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      text-align: center;
      width: 95%;
      padding-top: 18px;
      padding-bottom: 35px;
      font-size: 14px; } }
@media (max-width: 1100px) {
  .section-title {
    margin-top: 30px; } }

.why-container .section-title .title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin: 0px auto;
  padding: 25px 10px 0px;
  color: white; }
  @media (max-width: 990px) {
    .why-container .section-title .title {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 25px 6px 0px;
      font-size: 32px; } }
  @media (max-width: 500px) {
    .why-container .section-title .title {
      display: flex;
      flex-grow: 1;
      padding: 0px;
      font-size: 32px; } }
.why-container .section-title .subtitle {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: white;
  width: 600px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  letter-spacing: 0.8px; }
  @media (max-width: 990px) {
    .why-container .section-title .subtitle {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      text-align: center;
      width: 95%;
      padding-top: 18px;
      padding-bottom: 35px;
      font-size: 14px; } }

.about-container .subsection-title .title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin: 0px auto;
  padding: 25px 10px 0px;
  color: white; }
  @media (max-width: 990px) {
    .about-container .subsection-title .title {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 25px 6px 0px;
      font-size: 32px; } }
  @media (max-width: 500px) {
    .about-container .subsection-title .title {
      display: flex;
      flex-grow: 1;
      padding: 0px;
      font-size: 32px; } }

.home-button {
  background-color: #1445B3;
  border: 2px solid #1445B3;
  transition: .3s all;
  color: #ECF5FF; }
  .home-button#btn-services {
    background-color: #1445b3;
    border: 2px solid #ecf5ff;
    color: #ecf5ff;
    transition: .3s all; }
    .home-button#btn-services:hover {
      background-color: #007bff;
      border: 2px solid #007bff;
      color: #ecf5ff;
      transition: .3s all; }

.card-services {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 15px 10px 15px; }
  .card-services h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px; }
  .card-services h4:hover {
    color: #007bff; }
  .card-services:nth-child(n+1) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #660db1; }
  .card-services:nth-child(n+2) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #4288b7; }
  .card-services:nth-child(n+3) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #7025f0; }
  .card-services:nth-child(n+4) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #574afa; }
  .card-services:nth-child(n+5) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #927c96; }
  .card-services:nth-child(n+6) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #c363da; }
  .card-services:nth-child(n+7) i {
    font-size: 48px;
    width: 5px;
    opacity: 0.5px;
    color: #7e53ff; }

.main-button {
  display: flex;
  flex-direction: row; }
  @media (max-width: 1100px) {
    .main-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center; } }
  @media (max-width: 450px) {
    .main-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 2% auto; } }
  .main-button .home-button {
    width: 180px;
    height: 45px;
    border: 2px solid;
    margin-left: 15px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px; }
    @media (max-width: 450px) {
      .main-button .home-button {
        justify-content: center;
        text-align: center;
        margin: 3% auto;
        width: 100%; } }
    .main-button .home-button#btn-started {
      background-color: #007bff;
      border: 1px solid #007bff;
      color: #ecf5ff;
      transition: .3s all; }
      .main-button .home-button#btn-started:hover {
        background-color: #1445b3;
        border: 2px solid #ecf5ff; }

.about-description {
  display: flex;
  flex-direction: row;
  margin: 0px; }
  .about-description button {
    background-color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-left: 25px;
    position: relative;
    margin: 20px 15px;
    border: 2px solid #007bff; }
    .about-description button i {
      font-size: 26px;
      position: absolute;
      top: 18px;
      right: 18px;
      color: #007bff; }

.about-button:hover button {
  background-color: #007bff;
  border: 2px solid #007bff;
  transition: .5s all; }
  .about-button:hover button i {
    color: white;
    transition: .5s all; }

.button-portfolio {
  text-align: center;
  margin: 30px auto 50px; }
  .button-portfolio button {
    width: 65px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #007bff;
    margin: 8px;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #007bff; }
    .button-portfolio button:nth-child(2) {
      background-color: #ecf5ff;
      border: 1px solid #ecf5ff;
      color: #007bff;
      transition: .4s all; }
      .button-portfolio button:nth-child(2):hover {
        color: white;
        background-color: #007bff; }
    .button-portfolio button:nth-child(3) {
      background-color: #ecf5ff;
      border: 1px solid #ecf5ff;
      color: #007bff;
      transition: .4s all; }
      .button-portfolio button:nth-child(3):hover {
        color: white;
        background-color: #007bff; }
    .button-portfolio button:nth-child(4) {
      background-color: #ecf5ff;
      border: 1px solid #ecf5ff;
      color: #007bff;
      transition: .4s all; }
      .button-portfolio button:nth-child(4):hover {
        color: white;
        background-color: #007bff; }

.portfolio-icon button {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 50%;
  position: relative;
  top: 0;
  margin: 0px 6px;
  transition: .4s all; }
  .portfolio-icon button:hover {
    background-color: #4c91db;
    border: 1px solid #4c91db; }

.button-testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px; }
  .button-testimonial button {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: none;
    margin: 3px;
    background-color: #007bff;
    cursor: pointer;
    transform: scaleX(200px); }
    .button-testimonial button:nth-child(2) {
      background-color: #d6d4d4; }
      .button-testimonial button:nth-child(2):hover {
        background-color: #007bff; }
    .button-testimonial button:nth-child(3) {
      background-color: #d6d4d4; }
      .button-testimonial button:nth-child(3):hover {
        background-color: #007bff; }
    .button-testimonial button:nth-child(4) {
      background-color: #d6d4d4; }
      .button-testimonial button:nth-child(4):hover {
        background-color: #007bff; }
    .button-testimonial button:nth-child(5) {
      background-color: #d6d4d4; }
      .button-testimonial button:nth-child(5):hover {
        background-color: #007bff; }

.btn-message {
  width: 190px;
  height: 45px;
  padding: 5px;
  border-radius: 30px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 50px; }
  @media (max-width: 1100px) {
    .btn-message {
      margin: 0px auto 30px;
      display: flex;
      justify-content: center;
      text-align: center; } }
  .btn-message:hover {
    background-color: #046bda;
    border: 1px solid #046bda; }

.newsletter-footer {
  position: relative;
  padding-bottom: 30px; }
  .newsletter-footer .input-footer {
    border: none;
    height: 32px;
    width: 200px;
    position: absolute;
    top: 235px;
    left: 0px;
    float: left; }
    @media (max-width: 1100px) {
      .newsletter-footer .input-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        top: 280px;
        width: 180px; } }
    @media (max-width: 900px) {
      .newsletter-footer .input-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        top: 160px;
        width: 180px; } }
    @media (max-width: 500px) {
      .newsletter-footer .input-footer {
        top: 180px;
        width: 160px; } }
    @media (max-width: 380px) {
      .newsletter-footer .input-footer {
        top: 230px; } }
  .newsletter-footer .btn-footer {
    width: 100px;
    height: 34px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 235px;
    left: 200px; }
    @media (max-width: 1100px) {
      .newsletter-footer .btn-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        top: 280px;
        width: 90px;
        left: 180px; } }
    @media (max-width: 900px) {
      .newsletter-footer .btn-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        top: 160px;
        width: 90px;
        left: 180px; } }
    @media (max-width: 500px) {
      .newsletter-footer .btn-footer {
        top: 180px;
        width: 80px;
        left: 160px; } }
    @media (max-width: 380px) {
      .newsletter-footer .btn-footer {
        top: 230px; } }

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 0px; }
  .social-media button {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    border-radius: 50%;
    font-size: 130px;
    border: 1px solid #007bff;
    background-color: #007bff;
    position: relative;
    bottom: -30px;
    left: -10px; }
    .social-media button:hover {
      background-color: #046bda;
      border: 1px solid #046bda; }
    .social-media button i {
      font-size: 18px;
      color: white;
      position: relative;
      bottom: 97px;
      right: 0px; }

.btn-to-back {
  position: fixed;
  background: #007bff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  border: 1px solid #007bff;
  z-index: 15; }
  .btn-to-back i {
    color: white;
    font-size: 30px; }
  .btn-to-back a {
    color: #007bff;
    text-decoration: none; }

.mobile-button {
  position: fixed;
  top: -5px;
  right: 30px;
  z-index: 31;
  color: #1445b3;
  border: none;
  background-color: white;
  font-size: 30px;
  display: none; }
  @media (max-width: 999px) {
    .mobile-button {
      display: block; } }
  @media (max-width: 500px) {
    .mobile-button {
      display: block;
      font-size: 23px;
      top: -10px;
      right: -25px; } }

.carousel {
  margin: 20px 70px;
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  padding-top: 50px; }
  @media (max-width: 900px) {
    .carousel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      flex-wrap: wrap;
      flex-grow: 20;
      width: 100%;
      height: 100%;
      margin: 10px;
      padding: 4%; } }
  .carousel .number-carousel {
    text-align: center;
    display: flex;
    flex-direction: column; }
    .carousel .number-carousel strong {
      font-weight: bolder;
      font-size: 48px;
      display: block; }
    .carousel .number-carousel p {
      font-size: 14px;
      color: #CCE5FF; }

html,
body {
  margin: 0px auto; }

.home-container {
  position: relative;
  top: 80px;
  margin: 0px auto 60px;
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1445b3; }
  @media (max-width: 1100px) {
    .home-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      margin: 0px auto;
      padding: 50px 5px 40px; } }
  @media (max-width: 700px) {
    .home-container {
      top: -10px;
      display: flex;
      margin: 0px auto;
      padding-bottom: 20px; } }
  .home-container .img-section {
    padding-top: 30px; }
    .home-container .img-section .img-home {
      padding-top: 30px;
      width: 560px; }
      @media (max-width: 1100px) {
        .home-container .img-section .img-home {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          text-align: center;
          width: 90%;
          padding: 5px; } }
  .home-container .home-section {
    display: flex;
    flex-direction: column; }
  .home-container .main-title {
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
    font-size: 30px;
    line-height: 55px;
    font-weight: bold;
    padding-left: 15px; }
    @media (max-width: 550px) {
      .home-container .main-title {
        font-size: 25px;
        line-height: 42px;
        padding: 1%; } }
    @media (max-width: 450px) {
      .home-container .main-title {
        font-size: 20px;
        line-height: 36px;
        padding: 1%; } }
    .home-container .main-title #solution {
      color: #74b5fc;
      text-decoration: underline; }

#about-us {
  padding-top: 90px; }
  @media (max-width: 9000px) {
    #about-us {
      padding-top: 30px; } }
  #about-us .about-container {
    margin: 0px auto;
    position: relative;
    top: 400;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px; }
    #about-us .about-container #about-introduction {
      padding-left: 18px; }
    #about-us .about-container .subsection-title h3 {
      padding-top: 15px;
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 28px;
      font-weight: bold;
      padding-bottom: 10px; }
      @media (max-width: 500px) {
        #about-us .about-container .subsection-title h3 {
          font-size: 20px; } }
    #about-us .about-container .subsection-title p {
      padding-top: 0px;
      padding-bottom: 20px; }
      @media (max-width: 500px) {
        #about-us .about-container .subsection-title p {
          font-size: 15px; } }
    #about-us .about-container .sub-container {
      padding: 0px 50px 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      @media (max-width: 1100px) {
        #about-us .about-container .sub-container {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          padding: 2%; }
          #about-us .about-container .sub-container:nth-child(+3) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2%; } }
      #about-us .about-container .sub-container .about-text h4 {
        margin-bottom: 5px; }
      #about-us .about-container .sub-container .about-text p {
        margin-top: 0px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px; }
      #about-us .about-container .sub-container .img-home {
        width: 550px;
        margin: 0px 15px;
        padding-top: 45px; }
        @media (max-width: 1100px) {
          #about-us .about-container .sub-container .img-home {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            width: 80%; } }
        @media (max-width: 900px) {
          #about-us .about-container .sub-container .img-home {
            margin: 0 auto;
            width: 95%;
            margin: 10px;
            text-align: center; } }

#services {
  padding-top: 90px;
  background-color: #ecf5ff; }
  @media (max-width: 1100px) {
    #services {
      padding-top: 50px; } }
  #services .services-container {
    background-color: #ecf5ff;
    margin: 0px auto;
    padding-bottom: 70px; }
    @media (max-width: 450px) {
      #services .services-container {
        padding-bottom: 20px; } }
    #services .services-container .section-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px auto;
      padding: 0px 30px 50px; }
      @media (min-width: 1100px) {
        #services .services-container .section-wrap {
          display: flex;
          padding: 0px 5px; } }
      #services .services-container .section-wrap h4 {
        margin-bottom: 0px;
        transition: .4s; }
      #services .services-container .section-wrap .card-services {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 320px;
        height: 130px;
        padding: 10px 25px 25px 60px;
        margin: 30px 30px 10px 30px;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: .4s; }
        @media (max-width: 1100px) {
          #services .services-container .section-wrap .card-services {
            display: flex;
            width: 25%;
            height: 100%;
            padding: 8px 20px 20px 50px; } }
        @media (max-width: 750px) {
          #services .services-container .section-wrap .card-services {
            display: flex;
            width: 60%;
            height: 100%; } }
        @media (max-width: 450px) {
          #services .services-container .section-wrap .card-services {
            display: flex;
            width: 90%;
            height: 100%;
            margin: 5% 2%;
            padding: 5px 15px 15px 50px; } }
        #services .services-container .section-wrap .card-services:hover {
          transform: translateY(-7px); }
          #services .services-container .section-wrap .card-services:hover h4 {
            color: #007bff; }
        #services .services-container .section-wrap .card-services i {
          position: absolute;
          top: 50px;
          left: -22px;
          font-size: 55px; }

.why-container {
  background-color: #004a99;
  margin: 0px auto;
  padding: 40px 80px;
  height: 100%; }
  @media (max-width: 900px) {
    .why-container {
      display: flex;
      flex-wrap: wrap;
      padding: 8px 10px; } }
  .why-container .card-servieces-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto; }
    @media (max-width: 999px) {
      .why-container .card-servieces-second {
        width: 100%;
        margin: 2%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1; } }
    .why-container .card-servieces-second .card-choose {
      margin: 0px auto;
      width: 300px;
      height: 300px;
      padding: 20px;
      background-color: #00458f;
      color: white;
      border: 1px solid #00458f;
      border-radius: 7px;
      text-align: center;
      color: white;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder; }
      @media (max-width: 1100px) {
        .why-container .card-servieces-second .card-choose {
          width: 85%;
          height: 100%;
          margin: 2%;
          padding: 6%; } }
      @media (max-width: 999px) {
        .why-container .card-servieces-second .card-choose {
          width: 100%;
          height: 100%;
          margin: 2%;
          padding: 6%; } }
      .why-container .card-servieces-second .card-choose:hover {
        background-color: #00428a;
        border: 1px solid #00428a; }
      .why-container .card-servieces-second .card-choose .why-text {
        color: #d8eafe;
        font-size: 14px;
        font-weight: 200;
        line-height: 22px; }
        @media (max-width: 650px) {
          .why-container .card-servieces-second .card-choose .why-text {
            line-height: 19px; } }
      .why-container .card-servieces-second .card-choose span {
        padding-bottom: 5px;
        border-bottom: 2px solid #00458f;
        transition: .8s; }
        .why-container .card-servieces-second .card-choose span:hover {
          border-bottom: 2px solid white; }
      .why-container .card-servieces-second .card-choose a {
        text-decoration: none;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        letter-spacing: .8px; }
      .why-container .card-servieces-second .card-choose i {
        font-size: 50px;
        padding-bottom: 20px;
        color: #d8eafe;
        padding-top: 10px; }
        @media (max-width: 650px) {
          .why-container .card-servieces-second .card-choose i {
            font-size: 40px;
            padding-bottom: 18px; } }
        .why-container .card-servieces-second .card-choose i .why-text {
          color: #d8eafe;
          font-size: 40px; }

#portfolio {
  padding-top: 45px; }
  @media (max-width: 500px) {
    #portfolio {
      padding-top: 30px;
      margin-bottom: 30px; } }
  #portfolio .portfolio-container {
    margin: 0px auto; }
    #portfolio .portfolio-container .wrap-portfolio {
      margin: 0px 70px 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative; }
      @media (max-width: 1100px) {
        #portfolio .portfolio-container .wrap-portfolio {
          margin: 10px; } }
      #portfolio .portfolio-container .wrap-portfolio .portfolio-info {
        width: 330px;
        height: 230px;
        background-color: rgba(0, 66, 138, 0.6);
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 10px;
        margin: 0px auto;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        display: none;
        transition: .8s; }
        @media (max-width: 1100px) {
          #portfolio .portfolio-container .wrap-portfolio .portfolio-info {
            width: 100%;
            height: 100%;
            margin: 5px auto;
            top: -5px;
            left: 0px; } }
        #portfolio .portfolio-container .wrap-portfolio .portfolio-info h4 {
          font-size: 20px;
          margin-top: 50px;
          margin-bottom: 0px;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.9);
          cursor: pointer;
          transition: .4s all; }
          #portfolio .portfolio-container .wrap-portfolio .portfolio-info h4:hover {
            color: #007bff; }
        #portfolio .portfolio-container .wrap-portfolio .portfolio-info p {
          color: rgba(255, 255, 255, 0.9);
          font-size: 14px;
          margin-top: 5px;
          font-weight: 100; }
        #portfolio .portfolio-container .wrap-portfolio .portfolio-info .portfolio-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: 30px;
          color: rgba(255, 255, 255, 0.9); }
          #portfolio .portfolio-container .wrap-portfolio .portfolio-info .portfolio-icon i {
            padding: 3px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 18px; }
      #portfolio .portfolio-container .wrap-portfolio .img-portfolio {
        width: 330px;
        height: 230px;
        border-radius: 10px;
        margin: 15px;
        overflow: hidden;
        position: relative;
        transition: .8s; }
        @media (max-width: 1100px) {
          #portfolio .portfolio-container .wrap-portfolio .img-portfolio {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 480px;
            margin: 10px auto;
            text-align: center; } }
        #portfolio .portfolio-container .wrap-portfolio .img-portfolio:hover .portfolio-info {
          display: block; }
        #portfolio .portfolio-container .wrap-portfolio .img-portfolio img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .8s; }

#team {
  padding-top: 40px;
  padding-bottom: 5px; }
  #team .team-contanier {
    margin: 0px auto 80px; }
    #team .team-contanier .team {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0px 60px; }
      @media (max-width: 1100px) {
        #team .team-contanier .team {
          flex-wrap: wrap;
          margin: 30px auto; } }
      #team .team-contanier .team .img-team {
        width: 250px;
        height: 250px;
        border-radius: 50%; }
        @media (max-width: 1100px) {
          #team .team-contanier .team .img-team {
            flex-wrap: wrap;
            margin: 10px; } }
        @media (max-width: 300px) {
          #team .team-contanier .team .img-team {
            width: 90%;
            height: 90%;
            flex-wrap: wrap;
            margin: 10px; } }

.client-container {
  margin: 0px auto;
  background-color: #ecf5ff;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 40px; }
  @media (max-width: 900px) {
    .client-container {
      padding-top: 20px; } }
  .client-container .wrap-clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 60px; }
    @media (max-width: 500px) {
      .client-container .wrap-clients {
        margin: 0px 20px; } }
    .client-container .wrap-clients .container-clients {
      margin: 0px;
      vertical-align: middle;
      float: left;
      text-align: center;
      padding-top: 60px;
      width: 250px;
      height: 100px;
      background-color: white;
      border: 1px solid #d6eaff; }
      @media (max-width: 850px) {
        .client-container .wrap-clients .container-clients {
          width: 100%;
          margin: 0px;
          padding: 15px; } }
      @media (max-width: 550px) {
        .client-container .wrap-clients .container-clients {
          width: 95%;
          padding: 10px; } }
      .client-container .wrap-clients .container-clients .img-client {
        width: 140px; }
        @media (max-width: 850px) {
          .client-container .wrap-clients .container-clients .img-client {
            width: 60%;
            margin: 0px;
            padding: 3px; } }
        @media (max-width: 500px) {
          .client-container .wrap-clients .container-clients .img-client {
            width: 65%;
            margin: 0px;
            padding: 22px; } }
        .client-container .wrap-clients .container-clients .img-client:hover {
          transform: scale(1.2);
          transition: .4s; }

#contact-us {
  padding-top: 90px; }
  @media (max-width: 1100px) {
    #contact-us {
      padding-top: 35px;
      padding-bottom: 0px; } }
  #contact-us .contact-container {
    margin: 0px 20px;
    font-family: "Open Sans", sans-serif;
    color: #4b4b4b;
    box-sizing: border-box;
    text-align: center; }
    @media (max-width: 1000px) {
      #contact-us .contact-container {
        margin: 0px auto;
        display: flex;
        flex-direction: column; } }
    #contact-us .contact-container .info-container {
      margin: 60px auto 0px;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 100%; }
      @media (max-width: 1000px) {
        #contact-us .contact-container .info-container {
          display: flex;
          flex-direction: column; } }
      #contact-us .contact-container .info-container .info-contact {
        margin: 0px auto;
        width: 50%; }
        @media (max-width: 1000px) {
          #contact-us .contact-container .info-container .info-contact {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            width: 100%; } }
        #contact-us .contact-container .info-container .info-contact .contact-address {
          margin: 0px auto 30px;
          display: flex;
          flex-direction: row; }
          @media (max-width: 700px) {
            #contact-us .contact-container .info-container .info-contact .contact-address {
              display: flex;
              flex-direction: column;
              justify-content: stretch;
              text-align: left;
              width: 100%;
              margin: 0px auto; } }
          #contact-us .contact-container .info-container .info-contact .contact-address .contact-us {
            margin-left: 4px;
            font-size: 14px; }
            #contact-us .contact-container .info-container .info-contact .contact-address .contact-us i {
              color: #007bff;
              font-size: 26px;
              margin: 0px 15px;
              vertical-align: middle; }
    #contact-us .contact-container .map-contact {
      width: 50%;
      margin: 0px auto; }
      @media (max-width: 1000px) {
        #contact-us .contact-container .map-contact {
          padding-top: 0px;
          width: 100%;
          margin: 0px 5px; } }
      #contact-us .contact-container .map-contact iframe {
        width: 100%;
        height: 300px; }
        @media (max-width: 1000px) {
          #contact-us .contact-container .map-contact iframe {
            padding-top: 0px;
            width: 95%;
            margin: 0px 5px; } }
    #contact-us .contact-container form {
      margin: 10px;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
      #contact-us .contact-container form textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        border: 0.5px solid #dad4d4;
        color: #4b4b4b;
        margin: 5px; }
        @media (max-width: 900px) {
          #contact-us .contact-container form textarea {
            margin: 5px;
            width: 95%; } }
      #contact-us .contact-container form .info-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px; }
        @media (max-width: 900px) {
          #contact-us .contact-container form .info-form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 5px;
            width: 95%; } }
        #contact-us .contact-container form .info-form input {
          width: 100%;
          height: 15px;
          margin-left: 8px;
          padding: 10px;
          border: 0.5px solid #dad4d4; }
          @media (max-width: 900px) {
            #contact-us .contact-container form .info-form input {
              margin: 5px;
              width: 95%; } }

.testimonial-container {
  margin: 0px auto;
  background-color: #ecf5ff;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px; }
  .testimonial-container .testiomonial-card {
    margin: 30px auto;
    width: 800px;
    display: flex;
    flex-direction: row; }
    @media (max-width: 800px) {
      .testimonial-container .testiomonial-card {
        width: 90%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; } }
    .testimonial-container .testiomonial-card h3 {
      font-size: 22px;
      font-weight: bolder;
      line-height: 15px;
      color: #111;
      margin-bottom: 0px; }
    .testimonial-container .testiomonial-card h4 {
      margin-top: 10px;
      font-size: 16px;
      color: #999;
      font-weight: 300; }
    .testimonial-container .testiomonial-card p {
      font-style: italic;
      color: #4e4d4d;
      font-size: 16px; }
    .testimonial-container .testiomonial-card .img-testimonial {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-right: 20px;
      margin-top: 16px;
      border: 4px solid #fff;
      text-align: center;
      align-items: flex-start; }
      @media (max-width: 500px) {
        .testimonial-container .testiomonial-card .img-testimonial {
          margin: 0  auto;
          display: flex;
          flex-direction: row;
          justify-content: center; } }

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px #bbb8b8;
  background-color: white;
  margin: 0px auto;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  right: -3px;
  z-index: 30;
  padding: 15px; }
  @media (max-width: 500px) {
    #header {
      height: 30px; } }

.logo-ada .img-ada {
  width: 65px;
  padding-left: 90px;
  padding-top: 10px;
  padding-right: 105px; }
  @media (max-width: 500px) {
    .logo-ada .img-ada {
      width: 65px;
      padding-left: 25px;
      padding-top: 2px; } }

.container-nav {
  max-width: 999px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 105px;
  text-decoration: none; }
  @media (max-width: 1000px) {
    .container-nav {
      display: none; } }
  .container-nav #home {
    color: #007bff; }
  .container-nav .nav-link {
    padding-left: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #00428a;
    position: relative;
    list-style: none;
    cursor: pointer; }
    .container-nav .nav-link a {
      text-decoration: none;
      color: #00428a; }
      .container-nav .nav-link a:hover {
        color: #007bff; }

.subcontainer-nav {
  margin: 30px;
  right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  position: absolute;
  padding: 15px 80px 15px 15px;
  background-color: white;
  line-height: 40px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  display: none; }
  .subcontainer-nav .sub-nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #00428a;
    position: relative; }

footer {
  margin: 0px auto;
  background-color: #004a99;
  color: white;
  height: 100%; }
  footer .copyright-footer {
    background-color: #00428a;
    margin: 0px auto;
    text-align: center;
    padding: 25px;
    line-height: 8px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 13px; }
    @media (max-width: 900px) {
      footer .copyright-footer p {
        text-align: center;
        width: 100%;
        line-height: 15px;
        margin: 0 auto; } }
  footer .footer-container {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px; }
    @media (max-width: 900px) {
      footer .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 0px;
        padding: 0px 10px; } }
    footer .footer-container .info-footer {
      font-family: "Montserrat", sans-serif;
      width: 420px;
      height: 350px; }
      @media (max-width: 900px) {
        footer .footer-container .info-footer {
          width: 100%;
          height: 100%;
          margin: 0px; } }
      footer .footer-container .info-footer h4 {
        font-size: 40px;
        font-weight: 200;
        line-height: 3px; }
      footer .footer-container .info-footer p {
        font-size: 15px;
        font-weight: 100;
        line-height: 25px;
        color: #ECF5FF; }
        @media (max-width: 500px) {
          footer .footer-container .info-footer p {
            font-size: 13px;
            line-height: 20px; } }
    footer .footer-container .nav-footer {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-align: left;
      width: 270px;
      margin-top: 30px;
      height: 350px; }
      @media (max-width: 900px) {
        footer .footer-container .nav-footer {
          width: 100%;
          height: 100%;
          margin: 0px;
          padding: 0px; } }
      footer .footer-container .nav-footer h4 {
        margin-left: 40px;
        font-size: 15px; }
        @media (max-width: 900px) {
          footer .footer-container .nav-footer h4 {
            margin-left: 0px; } }
      footer .footer-container .nav-footer ul {
        list-style: none;
        margin: 0px;
        line-height: 35px;
        font-size: 15px; }
        @media (max-width: 900px) {
          footer .footer-container .nav-footer ul {
            margin: 15px 0px;
            padding: 0px; } }
    footer .footer-container .detail-footer {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-align: left;
      width: 300px;
      height: 350px;
      margin-top: 34px;
      line-height: 14px; }
      @media (max-width: 900px) {
        footer .footer-container .detail-footer {
          width: 100%;
          height: 100%;
          margin: 0px; } }
      footer .footer-container .detail-footer h4 {
        margin-bottom: 38px; }
    footer .footer-container .newsletter-footer {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-align: left;
      width: 350px;
      margin-top: 30px; }
      @media (max-width: 900px) {
        footer .footer-container .newsletter-footer {
          width: 100%;
          height: 100%;
          margin: 50px 0px 0px; } }
      footer .footer-container .newsletter-footer h4 {
        margin-bottom: 30px; }
      footer .footer-container .newsletter-footer p {
        line-height: 20px;
        font-size: 15px;
        padding-right: 40px;
        margin-bottom: 70px; }
        @media (max-width: 500px) {
          footer .footer-container .newsletter-footer p {
            font-size: 13px;
            line-height: 20px; } }

aside {
  margin: 0px;
  background: rgba(19, 39, 57, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  transform: translateX(-100%);
  transition: 1.2s; }
  aside .closed-bar {
    text-align: right;
    position: absolute;
    top: 22px;
    right: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px; }

.mobile-nav {
  background: rgba(19, 39, 57, 0.8);
  height: 100%;
  width: 250px;
  z-index: 52; }
  .mobile-nav .container-sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0px auto;
    padding: 20px; }
    .mobile-nav .container-sidebar .nav-sidebar {
      list-style: none;
      padding: 10px;
      position: relative;
      color: white;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      z-index: 59;
      cursor: pointer;
      transition: .4s; }
      .mobile-nav .container-sidebar .nav-sidebar:hover {
        color: #007bff; }
      .mobile-nav .container-sidebar .nav-sidebar a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        transition: .4s; }
        .mobile-nav .container-sidebar .nav-sidebar a:hover {
          color: #007bff;
          font-weight: bold; }

.opend-bar {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 1300;
  text-decoration: none; }

#abrir:target {
  display: block;
  transform: translateX(0px); }

/*# sourceMappingURL=main.css.map */
